{% extends "layout.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <small class="text-muted">Created at: {{ post.created_at }}</small><br><br>
    <a href="{% url 'update_post' post.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'post_list' %}" class="btn btn-secondary">Back</a>
  </div>
</div>
{% endblock %}
